interface:
  display_name: "AIPOM Starter Pack"
  short_description: "Begin this AIPOM Starter Pack session"
  default_prompt: "Use $aipom-start to begin the {{TITLE}} working session."
policy:
  allow_implicit_invocation: true
